* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: darkblue solid;
}

h1 {
    font-size: 3rem;
}

.form input[type=text], label {
    font-size: 1.5rem;
}

.btn {
    margin-top: 0.5em;
}

.btn input {
    padding: 0.5em 1.25em;
    font-size: 1.1rem;
}

h1 {
    border-bottom: 9px solid;
}
.result-card {
    margin-top: 1em;

    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.result-card > * {
    display: flex;
    width: 100%;
    font-size: 1.5rem;
    justify-content: space-between;
    padding: 0.5em;
}

.result-card span {
    background-color: lightpink;
}

.main {
    width: 100%;
}

span#city {
    background-color: black;
    color: white;
    padding: 0.25em;
    text-shadow: 2px 2px 3px red, -2px -2px 3px blue;
}