<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Faculty</title>
</head>
<body>
    <form action="add-new-student" method="POST">
        {% csrf_token %}
        <div>
            <label for="">Enter Name: </label> <br>
            <input type="text" name="name" id=""">
        </div>
        <div>
            <label for="">Enter Age: </label> <br>
            <input type="text" name="age" id="" >
        </div>
        <div>
            <label for="">Enter Address: </label> <br>
            <textarea name="address" id="" cols="70" rows="10"></textarea>
        </div>
        <p>
            <input type="submit" value="Enter">
        </p>
    </form>
</body>
</html>