<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello, World</h1>
    <a href="{% url 'addStudent' %}">+ Add New</a>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
        </tr>
        {% for student in all_students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.student_name }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.address }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>

<!-- DTL - Django Template Language (Jinja scripting) -->